.heading-text{
    font-size: 60px;
    font-weight: bolder;
    background-color: #40E0D0;

}
.footer-text{
    font-size: 60px;
    font-weight: bolder;
    background-color:#40E0D0;
    margin-top: 70px;
    padding-top: 20px;
}
.contain-text{
    margin-top: 20px;
}
.cardtext{
    width: 20rem;
}